<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.Listener.Listener_class"></listener>
</listeners>

  <test >
    <classes>
      <class name="Test.DashBoardPage_Test"/>
      <class name="Test.HomePage_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
